# Terraform
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
.terraform/
.terraform.lock.hcl
terraform.tfplan
terraform.tfplan.json

# Azure DevOps
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# IDE
*.swp
*.swo
*~
